/* src/app/globals.css */
@import 'tailwindcss';

/* Tailwind v4의 기본 배경색 설정을 무력화하고 Emotion 변수를 따르도록 함 */
@layer base {
  *, ::after, ::before {
    border-color: var(--color-gray-200, currentColor);
  }

  /* 아래 설정을 지우거나,
     html/body 배경색을 강제로 지정하는 코드가 있다면 제거하세요.
  */
  html, body {
    background: none !important;
  }
}

@font-face {
  font-family: 'MemomentKkukkukk';
  src: url('/fonts/MemomentKkukkukk.otf') format('opentype');
}
